<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        margin-top: 50px;
    }

    .r {
        position: absolute;
        right: 500px;
    }

    .r1 {
        position: absolute;
        right: 620px;
    }

    .r2 {
        position: absolute;
        right: 830px;
    }
    
    .butt {
        height: 80px;
        padding-top: 30px;
        padding: auto;
    }

    .butt-del {
        height: 80px;
        padding-top: 30px;
        padding: 20px;
        width: 40%;
        margin: auto;
    }

    table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    }

    table.iksweb{
    margin: auto;
	width: 90%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}
</style>

<body>
    <main>
<h3 align="center">Менеджер заказов СДЭК</h3>
    <table class="iksweb">
        <tbody>
            <tr>
                <td>ЗК</td>
                <td>Трек</td>
                <td>Статус</td>
                <td>Компания</td>
            </tr>
        </tbody>
        <tbody>
            <% for(let i=0; i < finishInfo.length; i++) { %>
            <tr>
                <td><%= finishInfo[i].name %></td>
                <td><%= finishInfo[i].trek %></td>
                <td><%= finishInfo[i].status %></td>
                <td><%= finishInfo[i].company %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

<div class="butt">
    <input class="r2" type="text" id="nameOrder" placeholder="Ваш заказ">
    <input class="r1" type="text" id="trek" placeholder="Ваш трек">
    <button class="r" onclick="sendJSON()">Добавить ЗК</button>
</div>
<div class="butt-del">
    <input class="r1" type="text" id="nameOrderDel" placeholder="Ваш заказ">
    <button class="r" onclick="sendJSONdel()">Удалить ЗК</button>
</div>
</main>
<script>
    const url = "http://localhost"
    function sendJSON() {
        let data = JSON.stringify({"name": nameOrder.value, "trek": trek.value})
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: data
        })
    }
        function sendJSONdel() {
        let data = JSON.stringify({"name": nameOrderDel.value})
        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: data
        })

    }
</script>
</body>
</html>